[*.cs]

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑声明为可以为 null。
dotnet_diagnostic.CS8618.severity = silent

# CS8601: 引用类型赋值可能为 null。
dotnet_diagnostic.CS8601.severity = silent

# ASP0023: Route conflict detected between controller actions
dotnet_diagnostic.ASP0023.severity = silent
